@font-face{
  font-family: "Helvetica";
  src: url("fonts/Helvetica.ttf");
}

body{
  text-align: center;
  font-family: "Helvetica";
}

.global{
  padding: 15px;
  font-size: 25px;
}

h1, strong, .country{
  color: #555;
}

.cases{
  color: #aaa;
}

.deaths{
  color: #696969;
}

.recovered{
  color: #8ACA2B;
}

/* Celular  */

@media screen and (max-width:420px){

  h1{
    font-size: 40px;
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    border-radius: 5px;
    padding: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
    flex: 1 0 40%;
    margin-right: 20px;
  }

  img {
    border-radius: 5px 5px 0 0;
    width: 25rem;
    height: 8rem;
    max-width: 100%;
    object-fit: cover;
  }

  .container {
    padding: 2px 16px;
  }
}

/* Tablet  */

@media screen and (min-width:421px) and (max-width:1024px){
  .cards{
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    border-radius: 5px;
    padding: 20px;
    flex: 1 0 28%;
    margin-right: 20px;
  }

  img {
    border-radius: 5px 5px 0 0;
    width: 25rem;
    height: 10rem;
    max-width: 100%;
    object-fit: cover;
  }

  .container {
    padding: 2px 16px;
  }
}

/* Computador */

@media screen and (min-width:1025px){
  .cards{
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 12px;
    flex: 1 0 21%;
    margin-right: 20px;
  }

  img {
    border-radius: 5px 5px 0 0;
    width: 25rem;
    height: 10rem;
    max-width: 100%;
    object-fit: cover;
  }

  .container {
    padding: 2px 16px;
  }
}